<?xml version='1.0' encoding='ASCII'?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" viewBox="0 0 {{sudoku.svg_vieport_size}} {{sudoku.svg_vieport_size}}" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <style type="text/css"><![CDATA[
            {{ cssCode }}
        ]]></style>
    </defs>
    <rect class="grid-bg" width="100%" height="100%"></rect>
    <!-- Grid -->
    <g id="sudoku-grid" class="sudoku-grid">
        <!-- Sudoku cells -->
        <g id="sudoku-grid-cells">
            {% for cell in sudoku.cells %}
            {% include 'sudoku-cell.svg.jinja' %}
            {% endfor %}                
        </g>
        <!-- Grid lines -->
        <g id="sudoku-grid-lines">
            {% include 'sudoku-grid-lines.svg.jinja' %}
        </g>               
    </g>
    </svg>